/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-slider-single {
        height: 750px !important;
    }
    .hero-mid-content{
        padding: 0 15px;
        width: 90% !important;
    }
    .contact-us-wrapper .single-box-item-three{
        margin-bottom: 20px;
    }
    .bottom-footer-menu {
        margin-top: 15px;
        justify-content: center ! IMPORTANT;
    }
    #banner_swiper .swiper-slide img {
        height: 600px !important;
    }
    .hero-single-input > select {
        border: 1px solid #ddd;
        padding: 12px 10px;
    }
    #hero_filter_content {
        position: relative !important;
        padding-top: 60px;
        padding-bottom: 0 !important;
    }
    .hero-single-input {
        margin-bottom: 10px;
        border: none !important;
        padding: 0 !important;
    }
    .hero-button-single{
        margin-top: 20px;
    }
    #hero_filter_content >div {
        padding: 0 !important;
        box-shadow: none !important;
    }
    .top-h-mail {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .section-padding-tb-70 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-content-top-margin {
        margin-top: 30px;
    }
    .section-heading h2 {
        font-size: 36px;
        line-height: 40px;
    }
    .section-heading p {
        font-size: 16px;
        line-height: 22px;
    }
    #highlight_product_wrapper{
        padding-bottom: 0 !important;
    }
    /* #highlight_product_wrapper .swiper-slide {
        padding-bottom: 100px;
    } */
    ul.object-social-links {
        justify-content: center;
    }
    /* .ceo-image > img {
        height: 500px !important;
    } */
    .navbar-toggler{
        background-color: #fff !important;
    }
    .project-count-wrap {
        padding: 20px 0;
        text-align: center;
    }
    .counter-box {
        margin-bottom: 20px;
    }
    .why-choose-text {
        padding-left: 0 !important;
    }
    .why-choose-image,
    .ceo-image{
        margin-top: 40px;
    }
    .ceo-image{
        margin-bottom: 40px;
    }
    /* section.success-project-wrapper {
        padding-top: 0 !important;
    } */
    .section-heading{
        text-align: center;
    }
    #find_best_place_wrapper .section-heading,
    #our_service_wrapper .section-heading,
    #client_testimonials_wrapper .section-heading,
    #video_header_wrapper .section-heading,
    #gallary_wrapper .section-heading{
        width: 100% !important;
    }
    #our_service_wrapper .our_service_view{
        text-align: center;
    }
    .client_testimonials_slider .swiper-slide.single-test-image > img {
        width: 100%;
        height: 445px;
        object-position: top;
    }
    .client_testimonials_slider .swiper-slide.single-test-image {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    #client_testimonials_slider .swci-text{
        padding: 20px !important;
    }
    #client_testimonials_slider .swci-text p {
        font-size: 18px;
        line-height: 28px;
    }
    #video_content_wrapper {
        margin-top: -119px;
    }
    .faq-content{
        margin-top: 40px;
    }
    .navbar-toggler:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    .hero-mc-header h1 {
        font-size: 25px !important;
        line-height: 32px !important;
    }
    .hero-mid-content {
        margin-top: 50px;
    }
    .hero-mc-header p {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .highlight-swiper-button-wrap,
    .client-testi-pagination{
        display: block !important;
        padding: 32px;
        margin: 0 auto;
    }
    .grid-item--width2,
    .gallery-grid-wrapper .grid{
        width: 100% !important;
    }
    .gallery-grid-wrapper .grid{
        margin-left: 0  !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #banner_swiper .swiper-slide img {
        height: 600px !important;
    }
    .hero-single-input > select {
        border: 1px solid #ddd;
        padding: 12px 10px;
    }
    #hero_filter_content {
        position: relative !important;
        padding-top: 60px;
    }
    .hero-mc-header {
        padding: 0 15px;
    }
    .why-choose-image,
    .ceo-image{
        margin-top: 40px;
    }
    .why-choose-text {
        padding-left: 0 !important;
    }
    .section-padding-tb-70 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-content-top-margin {
        margin-top: 30px;
    }
    .project-count-wrap{
        margin-bottom: 40px;
    }
    .client_testimonials_slider .swiper-slide.single-test-image {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .client_testimonials_slider .swiper-slide.single-test-image > img {
        width: 100%;
        height: 445px;
        object-position: top;
    }
    #video_content_wrapper {
        margin-top: -100px;
    }
    .hero-single-input {
        margin-bottom: 10px;
        border: none !important;
    }
    #find_best_place_wrapper .section-heading{
        width: 100% !important;
    }
    .faq-content{
        margin-top: 40px;
    }
    .navbar-toggler{
        background-color: #fff !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-toggler{
        background-color: #fff !important;
    }
    #banner_swiper .swiper-slide img {
        height: 600px !important;
    }
    .counter-box .counter {
        font-size: 36px;
    }
    .counter-box .description {
        font-size: 16px;
    }
    .project-count-wrap {
        margin-bottom: 40px;
    }
    .counter-box {
        text-align: center;
    }
    .section-padding-tb-70 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-content-top-margin {
        margin-top: 30px;
    }
    .why-choose-text {
        padding-left: 0 !important;
    }
    .why-choose-image,
    .ceo-image{
        margin-top: 40px;
    }
    .ceo-info-wrapper {
        padding-bottom: 70px;
    }
    div#video_content_wrapper {
        margin-top: -138px;
    }
    .youtube-thumbnail.swiper-slide-active {
        height: 390px !important;
    }
    #find_best_place_wrapper .section-heading{
        width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #banner_swiper .swiper-slide img {
        height: 630px !important;
    }
    .why-choose-text {
        padding-left: 25px !important;
    }
    #find_best_place_wrapper .section-heading{
        width: 100% !important;
    }
    .section-padding-tb-70 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-content-top-margin {
        margin-top: 40px;
    }
    div#video_content_wrapper {
        margin-top: -152px;
    }

}
@media (max-width: 1199.98px) {
    #hero_filter_content{
        width: 80% !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    #banner_swiper .swiper-slide img {
        height: 800px !important;
    }
}

/* Extra extra large devices (very large screens, TVs, 1400px and up) */
@media (min-width: 1400px) {
  /* Your very large screen styles here */
}



@media (min-width: 576px) {
    .custom-widget-container{
        min-height: none !important;
        height: auto;
    }
}