/* ========= Global Css Start ======== */
body{
    font-family: "Inter", sans-serif !important;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    max-width: 1800px;
}
.swiper {
    width: 100%;
    height: 100%;
}

.theme-primary-solid-button{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-color: #0B0D4E;
    color: #fff;
    border: none;
    padding: 17px 60px
}
.section-padding-tb-70{
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-content-top-margin{
    margin-top: 50px;
}
/* ========= Global Css END ======== */


/* ========= Section Common Css Start ======== */
.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 56px;
    margin-bottom: 10px;
}

.section-heading p {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #7B7B7B;
}
/* ========= Section Common Css END ======== */

/* ========= Header Css Start ======== */
.top-bar-wrapper {
    border-bottom: 0.5px solid #DBDFEC;
}
.social-media-link li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFF;
}
.social-media-link li > a > i {
    font-size: 22px;
}
.call-me-wrap {
    border-left: 1px solid #fff;
    padding-left: 16px;
}
.header-section li a.nav-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #fff !important;
    padding: 10px 20px !important;
    text-transform: uppercase;
}


.header-section li a.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Ensures space for the underline */
  }
  .header-section li a.nav-link.active{
    background: #ffffff1c;
  }
  .header-section li a.nav-link.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100% !important;
    height: 3px;
    background-color: #ffffff;
    border-radius: 61px;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-50%);
  }
  .header-section li a.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 61px;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-50%);
  }
  
  .header-section li a.nav-link:hover::after {
    width: 100%;
  }
/* ========= Header Css END ======== */

/* ========= Bannder Css Start ======== */
.hero-wrapper .swiper-slide img {
    height: 928px;
}
.hero-single-input > label {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 24px;
    text-align: left;
    text-transform: capitalize;
}

.hero-single-input > select {
    border: navajowhite;
    padding: 10px 0;
}
.hero-single-input > select:focus{
    box-shadow: none !important;
}

.hero-single-input {
    padding: 0 24px;
    border-right: 1px solid #CFD3D6!important;
}
#banner_swiper span.swiper-pagination-bullet {
    background: #fff !important;
    width: 100px;
    border-radius: 10px;
    height: 3px;
}
#banner_swiper .swiper-pagination{
    bottom: 17px;
}

#banner_swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

#banner_swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ========= Bannder Css END ======== */

/* ========= Highlight Product Css Start ======== */
#product_slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-item-box{
    border-radius: 5px;
}
.icon-with-text-wrap{
    border-radius: 5px;
    color: #fff;
}
.stb-bottom-content{
    position: absolute;
    content: '';
    padding: 16px 20px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B0D4E;
    color: #fff;
    border-radius: 5px;
    bottom: -50px;
}
.stb-bottom-content > h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
}

.icon-with-text-wrap {
    font-size: 14px;
    font-weight: 400;
    /* line-height: 130%; */
    color: #fff;
}
/* ========= Highlight Product Css END ======== */


/* ========= Success project count Css Start ======== */
.counter-box .counter{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0D4E;
}
.counter-box .description{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7B7B7B;
}
/* ========= Success project count Css END ======== */




/* ========= Global Css Start ======== */
/* ========= Global Css END ======== */