/* ========= Global Css Start ======== */
body{
    font-family: "Inter", sans-serif !important;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    max-width: 1800px;
}
.theme-bg-primary{
    background-color: #0B0D4E;
}
.swiper {
    width: 100%;
    height: 100%;
}

.theme-primary-solid-button{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-color: #0B0D4E;
    color: #fff;
    border: none;
    padding: 17px 60px;
    border-radius: 5px;
}
.theme-white-solid-button{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #0B0D4E;
    border: none;
    padding: 17px 60px;
    border-radius: 5px;
}
.section-padding-tb-70{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-padding-t-70{
    padding-top: 70px;
}
.section-padding-b-70{
    padding-bottom: 70px;
}
.section-margin-t-70{
    margin-top: 70px;
}
.section-margin-b-70{
    margin-bottom: 70px;
}
.section-content-top-margin{
    margin-top: 50px;
}
input.form-control,
textarea.form-control,
select.form-control{
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    border-radius: 5px;
    padding: 15px;
    background-color: #F8F8F8;
    border: none;

}
/* ========= Global Css END ======== */


/* ========= Section Common Css Start ======== */
.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 56px;
    margin-bottom: 10px;
}

.section-heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #7B7B7B;
}
/* ========= Section Common Css END ======== */

/* ========= Header Css Start ======== */
.header-section.is-sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    animation: slideDown .5s ease-out;
    z-index: 999;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff !important;
    margin-top: 0 !important;
}
.header-section.is-sticky li a.nav-link{
    color: #000 !important;
}
.header-section.is-sticky li a.nav-link.active {
    background: #0b0d4e25 !important;
}
.header-section.is-sticky li a.nav-link.active::after{
    background-color: #0B0D4E !important;
}
.header-section.is-sticky li a.nav-link::after{
    background-color: #0B0D4E !important;
}
.header-section.is-sticky nav.navbar.navbar-expand-lg.bg-transparent {
    padding-top: 0;
    padding-bottom: 0;
}
.header-section.is-sticky .navbar-brand img {
    width: 115px;
}
.top-bar-wrapper {
    border-bottom: 0.5px solid #DBDFEC;
}
.social-media-link li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFF;
}
.social-media-link li > a > i {
    font-size: 22px;
}
.call-me-wrap {
    border-left: 1px solid #fff;
    padding-left: 16px;
}
.header-section li a.nav-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #fff !important;
    padding: 10px 20px !important;
    text-transform: uppercase;
}


.header-section li a.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Ensures space for the underline */
  }
  .header-section li a.nav-link.active{
    background: #ffffff1c;
  }
  .header-section li a.nav-link.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100% !important;
    height: 3px;
    background-color: #ffffff;
    border-radius: 61px;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-50%);
  }
  .header-section li a.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 61px;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-50%);
  }
  
  .header-section li a.nav-link:hover::after {
    width: 100%;
  }
  .offcanvas {
      background-color: #0B0D4E !important;
  }

  /* .offcanvas.offcanvas-start.show {
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  /* .offcanvas.offcanvas-start {
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  } */ 

  .offcanvas-body.mobile-nav-body ul li a {
      display: block;
      color: #ffffff;
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      -webkit-transition: all 0.7scubic -bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7scubic -bezier(0.645, 0.045, 0.355, 1);
      border-bottom: .5px solid #ffffff54;
  }

  .offcanvas-body.mobile-nav-body {
      padding: 0 60px;
  }
  .custom-white-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    }
/* ========= Header Css END ======== */

/* ========= Bannder Css Start ======== */
.hero-wrapper .swiper-slide img {
    height: 928px;
}
.hero-single-input > label {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    line-height: 24px;
    text-align: left;
    text-transform: capitalize;
}

.hero-single-input > select {
    border: navajowhite;
    padding: 10px 0;
}
.hero-single-input > select:focus{
    box-shadow: none !important;
}

.hero-single-input {
    padding: 0 24px;
    border-right: 1px solid #CFD3D6!important;
}
#banner_swiper span.swiper-pagination-bullet {
    background: #fff !important;
    width: 100px;
    border-radius: 10px;
    height: 3px;
}
#banner_swiper .swiper-pagination{
    bottom: 17px;
}

#banner_swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

#banner_swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 928px;
    object-fit: cover;
    object-position: center;
}
.hero-mc-header h1 {
    font-size: 52px;
    line-height: 72px;
    font-weight: 500 !IMPORTANT;
    letter-spacing: 0;
}
.hero-mc-header p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #EDEFF6;
}
/* ========= Bannder Css END ======== */

/* ========= Highlight Product Css Start ======== */
#product_slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-item-box{
    border-radius: 5px;
}
.icon-with-text-wrap{
    border-radius: 5px;
    color: #fff;
}
.stb-bottom-content{
    position: absolute;
    content: '';
    padding: 16px 20px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0B0D4E;
    color: #fff;
    border-radius: 5px;
    bottom: -50px;
}
.stb-bottom-content > h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: #fff;
}

.icon-with-text-wrap {
    font-size: 14px;
    font-weight: 400;
    /* line-height: 130%; */
    color: #fff;
}
/* ========= Highlight Product Css END ======== */


/* ========= Success project count Css Start ======== */
.counter-box .counter{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0D4E;
}
.counter-box .description{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #7B7B7B;
}
/* ========= Success project count Css END ======== */


/* ========= Why Choose Css Start ======== */
.why-choose-text {
    padding-left: 100px;
}
/* ========= Why Choose Css END ======== */


/* ========= CEO Css Start ======== */
.ceo-image:after {
    position: absolute;
    content: '';
    background: #0B0D4E;
    top: 28px;
    right: -28px;
    width: 100%;
    height: 100%;
    opacity: 10%;
}
/* ========= CEO Css END ======== */



/* ========= Our Service Css Start ======== */
.single-item-box-two{
    position: relative;
    cursor:pointer;
    transition: .3s;
    border-radius: 5px;
}
.single-item-box-two.active{
    background-color: #fff;
    border-radius: 5px;
    transition: .3s;
}
.single-item-box-two.active > h6,
.single-item-box-two.active > p{
    color: #363A3D !important;
}

.single-item-box-two.active img{
    filter: brightness(0) saturate(100%) invert(11%) sepia(21%) saturate(4772%) hue-rotate(217deg) brightness(94%) contrast(93%);
}
.single-item-box-two img {
    transition: filter 0.3s ease;
}
.single-item-box-two h6 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0.2%;
}

.single-item-box-two p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 120px;
}
/* ========= Our Service Css END ======== */



/* ========= Client Testimonial Css Start ======== */

.swci-text p {
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    color: #3A1755;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swci-text h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    color: #3A1755;
}

.swci-text span {
    font-size: 18px;
    line-height: 110%;
    color: #A797B4;
    font-weight: 400;
}
.quotes-icon-wrap{
    bottom: 15px;
    right: 15px;
}
/* ========= Client Testimonial Css END ======== */

/* ========= video Css Start ======== */
.video-header-wrapper {
    height: 423px;
}
.video-content-wrapper {
    margin-top: -182px;
}
.youtube-thumbnail {
    width: 100%;
    height: 234px !important;
    overflow: hidden;
    border-radius: 8px;
}
.youtube-thumbnail.swiper-slide-active{
    height: 315px !important;
}
.youtube-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-button {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
/* ========= video Css END ======== */

/* ========= Find Best place Css Start ======== */
.find-best-place-wrapper{
    background-image: url('../images/banner/contact_bg.png');
}
/* ========= Find Best place Css END ======== */

/* ========= Faq Css Start ======== */
.faq-content .accordion-button::after {
    background-image: none;
    content: "+";
    font-size: 1.5rem;
    line-height: 1;
}

.faq-content .accordion-button.collapsed::after {
    content: "+";
    background-image: none !important;
    /* font-size: 30px;
    margin-top: -16px; */
}

.faq-content .accordion-button:not(.collapsed)::after {
    content: "−";
    background-image: none !important;
    /* font-size: 30px;
    margin-top: -16px; */
}

.faq-content .accordion-button {
    font-size: 24px;
    font-weight: 500 !important;
    line-height: 32px;
    background: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.faq-content .accordion-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}
/* ========= Faq Css END ======== */

/* ========= Footer Css Start ======== */
/* .footer-wrapper:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 43.5%;
    height: 100%;
    background: #0B0D4E;
    z-index: -1;
} */
.f-get-text{
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.f-p-text{
    font-size: 18px !important;
    line-height: 27px !important;
    font-weight: 400 !important;
    color: #d0d0d09c !important;
    opacity: .7;
}
.bottom-footer {
    margin-bottom: 50px;
}
.social-links > a {
    font-size: 18px;
    line-height: 21.6px !important;
    font-weight: 5000 !important;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline !IMPORTANT;
}
.bottom-footer-menu > a {
    color: #ffffff91;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
}
/* ========= Footer Css END ======== */

/* ========= Breadcrumb Css Start ======== */
.page-breadcrumb{
    height: 440px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-bg{
    background-image: url('../images/banner/BG-1.png');
}
.page-breadcrumb-wrap nav ol li,
.page-breadcrumb-wrap nav ol li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E7E9EB !important;
}
.page-breadcrumb-wrap h1 {
    font-size: 52px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
}
.page-breadcrumb-wrap nav ol li.active{
    columns: #fff !important;
}
.page-breadcrumb-wrap {
    margin-top: 100px;
}
/* ========= Breadcrumb Css END ======== */


/* ========= Company Target Css Start ======== */
.company-tw-left #experience_year {
    font-size: 180px;
    line-height: .8;
    font-weight: 900;
    margin: 0 5px -5px -5px;
    color: #0B0D4E;
}

.company-tw-left .heading.me-5 {
    position: relative;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 2px;
    color: #ababab;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.company-tw-right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #7B7B7B;
}
/* ========= Company Target Css END ======== */

/* ========= all propertices Css Start ======== */
.all-propertices-wrapper .single-item-box {
    margin-bottom: 75px !important;
}
/* ========= all propertices Css END ======== */


/* ========= Gallary Css Start ======== */
.gallery-grid-wrapper .grid {
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .grid-item {
    width: 200px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .grid-item--width2 {
    width: 410px; /* ~2 columns + gap */
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
  }
    a.zoom-icon{
        position: absolute;
        content: '';
        background: #0b0d4e78;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #fff;
        opacity: 0;
        border-radius: 6px;
    }
  
    .grid-item:hover a.zoom-icon{
        opacity: 1;
        transition: .5s;
    }
/* ========= Gallary Css END ======== */

.scroll-top {
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    box-shadow: 0 30px 50px rgba(0,0,0,.03);
    display: block;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: #0B0D4E;
    background-size: 200% auto;
    background-position: 0;
    color: #ffffff;
    transition: all .5s cubic-bezier(.645,.045,.355,1);
    overflow: hidden
}

@media only screen and (max-width: 479px) {
    .scroll-top {
        width:50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px
    }
}

.scroll-top.show {
    visibility: visible;
    opacity: 1;
    bottom: 60px
}

.scroll-top svg {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    transition: all .7s cubic-bezier(.645,.045,.355,1)
}

.scroll-top:hover {
    background-position: 100%
}
/* ========= Global Css Start ======== */
/* ========= Global Css END ======== */